{% extends "layout.html" %}

{% block title %}
    Earth
{% endblock %}

{% block main %}
    <script src="/static/js/earth.js"></script>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Latitude" aria-label="Latitude" id="lat" required>
        </div>
         <div class="col">
            <input type="text" class="form-control" placeholder="Longitude" aria-label="Longitude" id="lon" required>
        </div>
    </div>
{% endblock %}