{% extends "layout.html" %}

{% block title %}
    EPIC
{% endblock %}

{% block main %}
    <script src="/static/js/epic.js"></script>
    <div class="form-floating mb-3" style="width: 500px;">
        <input type="date" class="form-control" id="epic_date" placeholder="MM/DD/YYYY" required>
        <label for="epic_date">Date</label>
    </div>
    <div style="padding-top: 10px; padding-bottom: 10px;">
        <button type="submit" class="btn btn-success btn-lg" id="search">Search</button>
    </div> 
    <hr>
    <div id="carouselExample" class="carousel slide">
        <div id = "indicators" class="carousel-indicators">
            <!--Indicators go here-->
        </div>
        <div id = "container" class="carousel-inner">
            <!--Slides go here-->
        </div>      
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}