<!DOCTYPE html>

<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en-US">
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property='og:title' content='OpenScientia'/>
        <meta property='og:image' content='/static/OpenScienta_8_hd.png'/>
        <meta property='og:description' content='Empowering Open Science Together'/>
        <meta property='og:url' content='www.openscientia.wiki'/>
        <meta property='og:image:width' content='1200' />
        <meta property='og:image:height' content='627' />        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link href="/static/OpenScienta_8_hd.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/js/script.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Joan&family=Quicksand:wght@300&display=swap" rel="stylesheet">
        
        <title>OpenScientia | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">OpenScientia | Empowering Open Science</a>
                <!--<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop1" aria-controls="offcanvasTop" href="#">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop2" aria-controls="offcanvasTop" href="#">Planetary Computer</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop3" aria-controls="offcanvasTop" href="https://prithwis-2023.github.io/OpenScientia/">Docs</a>
                    </li>-->
                </ul>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">About</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr>
                    <div class="offcanvas-body">
                        <img src="/static/OpenScienta_8_hd.png" style="width: 350px; height: 350px;">
                        <hr>
                        <p align="justify">Welcome to OpenScientia! Embark on a fascinating journey through the cosmos with Openscientia. Our mission is to arouse your curiosity about the mysteries of space by bring the wonders of the universe closer to you, providing a unique and immersive experience. At OpenScientia, we believe that space exploration is for everybody and not only limited to astronauts and scientists. Whether you are an experienced astronomer or just taking your first steps into the cosmos, OpenScientia is your gateway to the sky!</p>
                        <hr>
                        <center><a href="https://prithwis-2023.github.io/OpenScientia/"><button type="button" class="btn btn-outline-info">View Docs</button></a></center>
                    </div>
                </div>
                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop1" aria-labelledby="offcanvasTopLabel" style="background-image: url(/static/northern_lights.jpg); min-height: 100%;">
                    <div class="offcanvas-header">
                        <!--<h5 class="offcanvas-title" id="offcanvasTopLabel">Weather</h5>-->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;"></button>
                    </div>
                    <div class="offcanvas-body" id="weather">
                        <center><button onclick="getLocation()" type="button" class="btn btn-outline-success btn-lg">Real-Time Weather Data</button></center>
                        <hr style="color: white;">
                        <script src="/static/js/maps.js"></script>
                        <style>
                            * {
                            box-sizing: border-box;
                            }

                            .row {
                            display: flex;
                            }

                            /* Create three equal columns that sits next to each other */
                            .column {
                            flex: 50%;
                            padding: 5px;
                            }    
                        </style>  
                        <div class="row">
                            <div class="column">
                                <div id="Ploti" style="width: 100%;"></div>
                            </div>
                            <div class="column">
                                <div id="Plotii" style="width:100%"></div>
                            </div>
                        </div>
                        <center>
                            <hr style="color: white;">
                            <table class="table table-dark table-hover table-bordered border-primary" id="present-weather" style="max-width: 70%; border: 1.5px solid blue;">
                            </table>
                        </center> 
                    </div>
                </div>
                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop2" aria-labelledby="offcanvasTopLabel" style="background-image: url(/static/northern_lights.jpg); min-height: 100%;">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;"></button>
                    </div>
                    <div class="offcanvas-body">
                        <iframe src="https://nt.dev/e/dc82312c3ef4" style="width:100%;height:calc(490px + 8vw);border:0;border-radius:4px;overflow:hidden;" title="Development environment"></iframe>
                    </div>
                </div>
            </div>
        </nav>
        <center>
            <h1 class="display-1" style="color:white; padding-top: 10%;">
                OpenScientia
            </h1>
            <div class="input-group" style="width:800px; height: 50px; padding-top: 20px;">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected value="search">Search</option>
                    <option value="apod">Astronomy Picture of the Day</option>
                    <option value="epic">Earth Polychromatic Imaging Camera (EPIC) Imagery</option>
                    <!--<option value="earth">Earth-Based Imagery</option>-->
                    <option value="neows">Near Earth Object Web Service</option>
                    <option value="tracker">Live Tracking of the International Space Station</option>
                    <!--<option value="library">NASA Media Library</option>-->
                    <option value="mars">Mars Rover Imagery</option>
                    <option value="mars-weather">Martian Weather Update</option>
                    <option value="trek">Trek Map</option>                   
                    <!--<option value="sbdb">SBDB (Small Bodies DataBase) Close Approach Data</option>
                    <option value="exoplanets">Exoplanet Archive</option>-->
                </select>
                <button class="btn btn-outline-success btn-lg" type="button" id="submit">Explore</button>
            </div>
            <p style="padding-top: 50px;">
                <div class="card">
                    <div class="tools">
                        <div class="circle">
                            <span class="red box"></span>
                        </div>
                        <div class="circle">
                            <span class="yellow box"></span>
                        </div>
                        <div class="circle">
                            <span class="green box"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="card__content" style="color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; padding-top: 15px; padding-bottom: 15px;">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </p>
        </center>   
        <!-- 100% privacy-first analytics -->
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript> 
    </body>
</html>    