{% extends "layout.html" %}

{% block title %}
    Neo Feed
{% endblock %}

{% block main %}
    <script src="/static/js/neofeed.js"></script>

    <h1>Neo Feed</h1>

    <div style="align-items: center;justify-content: center;" class="row">
        <h5 style="width: 10%;margin: 0;">Start</h5>
        <input style="width: 20%;" type="date" class="form-control" placeholder="Date" aria-label="Date" id="start">
        <h5 style="width: 10%;margin: 0;">End</h5>
        <input style="width: 20%;" type="date" class="form-control" placeholder="Date" aria-label="Date" id="end">
        <button style="width: 15%; margin-left: 3%;"  id="search" class="btn btn-outline-success btn-sm" onclick="get_neo_feed()">
            search
        </button>
    </div>            
    <table style="margin-top: 3%;" id="near_earth_object_table">
    </table>
    
{% endblock %}